<div id="menu" class="hidden-xs col-sm-4 col-md-3">
	<div id="particles-js"></div>
	<div id="menu-content" class="vertical-align">
		<a href="/"><img src="/images/robot_alpha.png" class="center-block" alt="Cheesy picture of robot"></a>
		{{ if isset .Site.Params "title" }}
			<h1 class="text-center"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.title }}</a></h1>
		{{ else }}
			<h1 class="text-center"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		{{ end }}

		<small class="text-center center-block"><a href="/pages/about/">Bill Dueber</a></small>

		{{ if isset .Site.Params "profilepic" }}
			<img id="profile-pic" src="{{ .Site.BaseURL }}/{{ .Site.Params.profilepic }}" alt="My Picture" class="img-circle center-block">
		{{ end }}
		<div id="social" class="text-center">
			{{ if isset .Site.Params "twitter" }}<a href="https://twitter.com/{{.Site.Params.twitter}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>{{ end }}
			{{ if isset .Site.Params "youtube" }}<a href="{{.Site.Params.youtube}}" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>{{ end }}	
			{{ if isset .Site.Params "facebook" }}<a href="{{.Site.Params.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>{{ end }}
			{{ if isset .Site.Params "linkedin" }}<a href="{{.Site.Params.linkedin}}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>{{ end }}
			{{ if isset .Site.Params "git" }}<a href="{{.Site.Params.git}}" target="_blank"><i class="fa fa-git-square fa-2x"></i></a>{{ end }}
			{{ if isset .Site.Params "github" }}<a href="https://github.com/{{.Site.Params.github}}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>{{ end }}
			{{ if isset .Site.Params "cloud" }}<a href="{{.Site.Params.cloud}}" target="_blank"><i class="fa fa-cloud fa-2x"></i></a>{{ end }}
			{{ if isset .Site.Params "paypal" }}<a href="{{.Site.Params.paypal}}" target="_blank"><i class="fa fa-paypal fa-2x"></i></a>{{ end }}	
			{{ if isset .Site.Params "email" }}<a href="mailto:{{.Site.Params.email}}" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>{{ end }}			
		</div>
		<div id="links" class="text-center">
			{{ $url := .Site.BaseURL }}
			{{ range .Site.Params.navlinks }}
				<a href="{{ $url }}{{ .url }}">{{ .name }}</a>
			{{ end }}
		</div>
	</div>
</div>

